<div class="row">
    <form method="POST" class="form-style col-sm-4" action="/posts">
        {{> posts-form}}
        <!-- BUTTON -->
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
